* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(226, 43, 150);
    padding: 1% 1%;
}
/* Pour les écrans de téléphone (max 600px) */
@media (max-width: 600px) {
    
    /* On force les boîtes à aller à la ligne */
    .boxes {
        display: flex;
        flex-direction: column; /* Aligne verticalement */
        align-items: center;    /* Centre les boîtes */
        height: auto;           /* Enlève la hauteur fixe de 280px */
        margin-top: 20px;       /* Ajuste l'espace en haut */
        transform: none;        /* On enlève le translate pour éviter les décalages */
    }

    .box {
        width: 90%;             /* La boîte prend presque toute la largeur du téléphone */
        height: 350px;          /* On redonne une vraie hauteur à chaque boîte */
        margin-bottom: 25px;    /* Espace entre les projets */
    }

    .box h3 {
        font-size: 1.2rem;      /* On réduit un peu la taille du texte */
        position: relative;     /* On l'enlève du mode absolute pour qu'il respire */
        top: 15px;
        left: 15px;
    }

    .cat {
        top: 35%;               /* Repositionne l'image dans la boîte mobile */
        height: 55%;
    }
}




/* Styles pour les écrans moyens (Tablettes) */
@media (min-width: 601px) and (max-width: 1000px) {
    .boxes {
        justify-content: space-around;
        height: auto;
    }

    .box {
        width: 45%;             /* Deux boîtes par ligne */
        height: 280px;
        margin-bottom: 30px;
    }
}





.main-header {
    width: 100%;
    padding: 20px 5%;
    background-color: white; /* Fond blanc pour rester pro */
    display: flex;
    justify-content: center; /* Centre le titre */
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Petite ombre pour séparer du fond */
    position: sticky; /* Reste en haut même quand on descend (scroll) */
    top: 0;
    z-index: 1000;
}

.logo h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    font-size: 24px;
    color: #333;
    margin: 0;
    
}

.logo h1 span {
    color: rgb(252, 148, 221); /* On utilise ta couleur orange/rose pour le style */
    font-weight: bold;
   
}





















.div1{
width: 90%;
height: 200px;
/* background-color: aquamarine; */
padding: 9px 9px;
display: flex;
flex-direction: row;
justify-self: center;
margin-bottom: 50px;
}

.photoprofile{
    width: 10%;
    height: 50%;
    background-color: blue;
    border-radius: 50%;
    margin: 4%;
}
.info{
    width: 80%;
    height: 100%;
    /* background-color: rgb(255, 127, 197); */
    margin-top: 30px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* pour que la photo elle apparaitre tres bien  */
    object-fit: cover;
}
a {
    transition: all 0.3s ease;
    display: inline-block; /* Nécessaire pour l'animation */
    
}

a:hover {
    /* color: #770684; Change la couleur */
    transform: translateX(5px); /* Se déplace de 5px vers la droite */
    letter-spacing: 1px; /* Espace un peu les lettres */
    color: rgb(239, 239, 160);
}
/*pour la div rectongl qui se trouve en bas de page et qui contient plusieurs box et chaque boc contient le nom d'un projet et ca photo*/

.boxes{
    width: 90%;
height: 280px;
background-color: rgb(252, 148, 221);
/* background-color: aquamarine; */
margin-top: 150px;
margin-bottom:50px ;
display: flex;
flex-direction: row;
justify-self: center;
 transform: translate(0,-50%);/* 0 pour left et -50 pour rentrer du top -50 par rapport y*/

 justify-content: space-between;
 flex-wrap: wrap;
}
.box{
    width: 19%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
        /*the second methode to center a div 
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%,-50%);*/
position: relative;
margin-bottom: 20px;




}
/* quand on passe la souris sur une boîte, elle se lève un petit peu. */
.box:hover { 
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Une ombre plus forte */
    transform: scale(1.1); /* L'image zoome de 10% */
    transition: transform 0.3s ease; }
.box h3
{
    /* margin-top: 0%; */
position: absolute;
left:5%;
top: 5%;
color: white;
font-weight: bold;
font-size: 1,8rem;
}
.box img
{
    width:90%;
    height:60%;
    border-radius: 30px;
    object-fit: contain;
   
    
}


.boxcat1
{
    position: relative;
    /* background-color: #FF8A65; */
    background-color: rgb(240, 197, 221);
    
    
}
.cat
{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    /* centraliser l'image */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */

}
.boxcat2
{
    position: relative;
    /* background-color:#FF8A65; */
    background-color: rgb(240, 197, 221);
    
}

.boxcat3
{
    position: relative;
    /* background-color:#FF8A65; */
    background-color: rgb(240, 197, 221);
    
}

.boxcat4
{
    position: relative;
    /* background-color:#FF8A65; */
    background-color: rgb(240, 197, 221);
    
}

.boxcat5
{
    position: relative;
    /* background-color:#FF8A65; */
    background-color: rgb(240, 197, 221);
    
}
.div2{
    width: 90%;
height: 20px;
/* background-color: rgb(255, 214, 127); */
padding: 9px 9px;
display: flex;
flex-direction: row;
justify-self: center;
justify-content: center;
align-items: center;/* pour mettre la div  title_div2 dans le centre de de cette div par rapport a l'axe des y car sont cettre propriété le title il sera uder this div*/


}

.title_div2{
       width: 40%;
height: 100%;
/* background-color: rgb(245, 75, 8); */
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 25px;

}